Dockerfile
.dockerignore
.editorconfig
.git
.gitignore
scripts

__pycache__
*.pyc
*.egg
/*.egg-info
dist/*
build
_build
.cache
*.so

.mypy_cache
.coverage
htmlcov/
.pytest_cache

.venv
.DS_Store
.idea/*
.python-version
.vscode/*
