---

#
# Other defaults are set in src/grubbin/config.py
#

postgres:
  host: localhost
  port: 5432
  user: postgres
  password: password
  database: grubbin

exchanges:
  binance:
    api_key: SNIP
    security_key: SNIP
  bitforex:
    api_key: SNIP
    security_key: SNIP

aggregation_intervals:
  - "1 minutes"
  - "3 minutes"
  - "5 minutes"
  - "10 minutes"
  - "30 minutes"
