---

#
# Other defaults are set in src/grubbin/config.py
#

binance_api_key: SNIP
binance_security_key: SNIP

bitforex_api_key: SNIP
bitforex_security_key: SNIP

postgres_host: localhost
postgres_port: 5432
postgres_user: postgres
postgres_password: password
postgres_database: grubbin
